Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 5
print(x)

5

2.Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(5)

int

4) Crear una variable que contenga tu nombre

In [5]:
miNombre = 'Marcelo'

5) Crear una variable que contenga un número complejo

In [12]:
numComplejo = 1.6 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
type(1.6 + 3j)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
import math
nPi = round(math.pi, 4)
print(nPi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
trueString = 'True'
trueBoolean = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [29]:
print('La variable trueString es de tipo: ', type(trueString), ', y la variable trueBoolean es de tipo ', type(trueBoolean))

La variable trueString es de tipo:  <class 'str'> , y la variable trueBoolean es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [30]:
suma = 5 + 3.2

11) Realizar una operación de suma de números complejos

In [2]:
c1 = 1 + 7j
c2 = 6 + 3j
print(c1 + c2)

(7+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [3]:
sum = 3.5 + (3+1j)
print(sum)

(6.5+1j)

13) Realizar una operación de multiplicación

In [4]:
print(2*8)

16

14) Mostrar el resultado de elevar 2 a la octava potencia

In [5]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [9]:
coc = 27/4
print(coc)

6.75

16) De la división anterior solamente mostrar la parte entera

In [12]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [13]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [15]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [17]:
var1 = 'Hola '
var2 = 'Mundo!'
frase = var1 + var2
print(frase)

Hola Mundo!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

Porque no son del mismo tipo

In [18]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [19]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Porque debe ser 3.8 y no 3,8 (Es con punto y no con coma)

In [22]:
a = float('3.8')
print(a)
print(type(a))

3.8
<class 'float'>

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [24]:
a = 3
a -= 2
print(a)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

Seria tomar el numero binario "1" y desplazarlo 2 lugares hacia la izquierda, lo que daria "100" ensistema binario. Esto en sistema decimal es igual a 4.

In [25]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

Larga error por que no son del mismo tipo. No arrojarian el mismo resultado, ya que si los dos fuesen cadenas de texto el resultado seria "22". En cambio si los dos fuesen enteros, el resultado seria 4.

In [26]:
print('2'+ 2)

TypeError: can only concatenate str (not "int") to str

26) Realizar una operación válida entre valores de tipo entero y string

In [31]:
a = 'Hola ,'
b = 3
print(a * b + str(b), ' veces' )

Hola ,Hola ,Hola ,3  veces